@page "/help"
@page "/Admin/help"
@using AssetManager.Classes
@using AssetManager.Model

@* ============= *@
@*   HELP PAGE   *@
@* ============= *@

<div class="main">
    <div class="main-content" style="overflow:auto;">

        @* Header *@
        <h1 style="padding-bottom:20px;">Help/FAQs</h1>

        @* Video Embed *@
        <iframe width="600px" height="400px" title="YouTube Video" src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" allowfullscreen>
        </iframe>

        @* Button #1 *@
        <br/>
        <button type="button" class="header">
            What Is An Asset?
        </button>
        <div class="content"><p>
            An asset is a thing that you or your company owns. This can be anything from devices, money, tools, 
            inventory, vehicles, to other items. For some companies, NIST guidelines even require them keep track 
            of important assets. However, most asset management applications cost thousands of dollars to use 
            and implement.
        </p><p>
            No company or organization is alike. They all have their own goals, employees, and inventory. SAM 
            understands this, and therefore, can keep track of anything that your company desires. Anything 
            important to your company is also important to SAM, and SAM is here to help!
        </p></div>

        @* Button #2 *@
        <br />
        <button type="button" class="header">
            Search Function
        </button>
        <div class="content"><p>
            When you are on the "Assets" tab, you will be able to view a table of all assets. If you are a part of 
            of a company with a lot of assets, finding the one you need quickly could become difficult. Thanks to 
            the search function, locating what asset(s) you're looking for can be as easy as the press of a button.
        </p><p>
            There are two ways of searching for a certain asset. They can be located either by number or name. 
            For example, if you go to the search bar, located on the righthand side of the screen, and search for 
            "12," then the 12th asset listed in the database will come up. On the other hand, if you only know 
            the vague name/description of what you are looking for, you can search that way as well. For example, 
            if you go to the search bar and type in a manufacturer such as "Dell," then all assets that match that 
            will pop up.
        </p><p>
            Once you are done, you can delete the contents in the search bar and click search again to return to 
            the default full list.
        </p></div>

        @* Button #3 *@
        <br />
        <button type="button" class="header">
            Viewing Asset Details
        </button>
        <div class="content"><p>
            The asset table shows only a few fields per asset on the main page. However, there are many more 
            fields to view as well as populate with useful information. In order to view all of these fields, 
            locate the asset you want to know more about. Then, click the magnifying glass icon next to the asset 
            in the "Details" column. Instead of just showing the name, description, manufacturer, and model, you 
            will see the details page will list every field associated with that asset. This can include things 
            such as its status, the purchase date, the last updated date, and if it is able to be borrowed.
        </p><p>
            Once you are done, click the "Back" button located at the bottom of the page to easily return to the 
            asset table.
        </p></div>

        @* Button #4 *@
        <br />
        <button type="button" class="header">
            Submitting Maintenance Requests
        </button>
        <div class="content"><p>
            Have you noticed a certain asset not performing as it usually does? Have you noticed damage to an asset 
            that wasn't there before? Don't want to awkwardly inform your boss? We got you covered.
        </p><p>
            You can submit a maintenance request for any asset. Just search for the asset you are trying to find 
            and then click the button with the tag icon under the "Maintenance" column. This will open a window 
            asking for any details. Here, you can provide a description of what is wrong with the asset, then 
            click "Submit." This will send a request directly to any Admins. They can then take any action needed 
            to fix or replace the asset.
        </p></div>

        @* Button #5 *@
        <br />
        <button type="button" class="header">
            Submitting Borrow Requests
        </button>
        <div class="content"><p>
            Need to take something home for the night? For the weekend? You can submit a borrow request for 
            any asset. Just search for the asset you are trying to borrow and click the icon under the "Borrow" 
            column next to the asset. This will open a window for you to fill out with your reason for needing to 
            borrow the asset. Once you are done, click "Submit." This will send the request directly to any Admins.
        </p><p>
            Please note that in order to borrow an asset, your supervisor/manager will need to accept your request. 
            They are also able to deny your request. Providing a better description and reason in your borrow request 
            will increase your chances of being accepted.
        </p></div>

        @* Button #6 *@
        <br />
        <button type="button" class="header">
            Adding Accounts
        </button>
        <div class="content"><p>
            If you are wanting to have access to more of the application, you will need an Admin account. Contact 
            your manager/supervisor, and if they accept, they will be able to make an Admin account for your use. 
            With an Admin account, you are able to add and edit assets, as well as view borrow and maintenance 
            history.
        </p></div>

        <br />
        <img class="center" src="/imgs/samSleep.gif" />
        <br />

    </div>
</div>

@code {

}
