@page "/help"
@page "/Admin/help"
@inject IJSRuntime js
@using AssetManager.Classes
@using AssetManager.Model

@* ============= *@
@*   HELP PAGE   *@
@* ============= *@

<div class="main">
    <div class="main-content" style="overflow:auto;">

        @* Header *@
        <h1 style="padding-bottom:20px;">Help/FAQs</h1>

        @* Video Embed *@
        <iframe width="80%" height="60%" src="https://www.youtube.com/embed/tgbNymZqY">
        </iframe>

        @* Button #1 *@
        <br/>
        <button type="button" class="collapse">
            What Is An Asset?
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #2 *@
        <br />
        <button type="button" class="collapse">
            Getting Started
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #3 *@
        <br />
        <button type="button" class="collapse">
            Importing/Exporting
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #4 *@
        <br />
        <button type="button" class="collapse">
            Add
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #5 *@
        <br />
        <button type="button" class="collapse">
            Editing
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #6 *@
        <br />
        <button type="button" class="collapse">
            Filtering
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #7 *@
        <br />
        <button type="button" class="collapse">
            Deleting
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #8 *@
        <br />
        <button type="button" class="collapse">
            Maintenance Requests
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @* Button #9 *@
        <br />
        <button type="button" class="collapse">
            Borrow Requests
        </button>
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p></div>

        @*<script type="text/javascript" src="js/buttons.js"></script>*@

    </div>
</div>

@code {

}
