@page "/Admin"

<div class="body">

    <div class="main">

        <div class="container">

            <div class="menu">

                <div class="menu-content">

                    <div class="view-asset"><p class="item" >View Asset</p></div>
                    <div class="maintenance"><p class="item">Maintenance</p></div>
                    <div class="request"><p class="item">Request</p></div>
                    <div class="system"><p class="item">System</p></div>
                    <div class="user"><p class="item">User</p></div>
                    <div class="help"><p class="item">Help</p></div>
                    <div class="settings"><p class="item" >Settings</p></div>
                    <div class="exit"><p class="item">Exit</p></div>

                </div>

            </div>

        </div>
    </div>

</div>

@code {
  
}
