@page "/Admin"

<div class="body">

    <div class="main">

        <div class="container">

            <div class="menu">

                <div class="menu-content">

                    <div class="view-asset"><p class="item"><NavLink href="#" class="nav-link">View Asset</NavLink></p></div>
                    <div class="maintenance"><p class="item"><NavLink href="#" class="nav-link">Maintenance</NavLink></p></div>
                    <div class="request"><p class="item"><NavLink href="#" class="nav-link" >Request</NavLink></p></div>
                    <div class="system"><p class="item"><NavLink href="#" class="nav-link">System</NavLink></p></div>
                    <div class="user"><p class="item"><NavLink href="/user" class="nav-link">User</NavLink></p></div>
                    <div class="help"><p class="item"><NavLink href="#" class="nav-link">Help</NavLink></p></div>
                    <div class="settings"><p class="item"><NavLink href="#" class="nav-link">Settings</NavLink></p></div>
                    <div class="exit"><p class="item"><NavLink href="#" class="nav-link">Exit</NavLink></p></div>

                </div>

            </div>

        </div>
    </div>

</div>

@code {
  
}
