* {
    
    box-sizing: border-box;
}

.body {
    height:100%;
    width:100%;
}

.main {
    height: 90vh;
    width: 100%;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
}

.container {
    height: 80vh;
    width: 100%;
    /*border: 2px solid green;*/
}

.menu {
    height: 100%;
    width: 100%;
    /*border: 2px solid yellow;*/
    padding: 0;
    margin: 0;
}

.menu-content {
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "view-asset" "maintenance"
        "request" "system" "user"
        "help" "settings" "exit";
  /*  border: 2px solid red;*/
    overflow-y: auto;
    padding: 1.5em ;
    margin: 0;
}




.menu-content div {
    /*border: 2px solid black;*/
    box-shadow: 2px 2px 5px grey;
    margin: 1em;
    border-radius: 10px;
    transition: all .4s ease
}

.menu-content div:hover {
    transform: scale(1.1);
    transition: all .4s ease;
}

.menu-content p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}

::deep .nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 2em;
}

.view-asset {
    grid-area: view-asset;
}

.maintenance {
    grid-area: maintenance ;
}

.request {
    grid-area: request;
}

.system {
    grid-area: system;
}

.user {
    grid-area:user;
}

.help {
    grid-area:help;
}

.settings {
    grid-area:settings;
}

.exit {
    grid-area:exit;
}



@media  (min-width: 576px) {

    .menu-content {
       
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 
            "view-asset view-asset maintenance maintenance" 
            "request request system system" 
            "user user user user"
            "help settings settings exit";
       margin: 0;
        padding: 2em 
    }

    .menu {
    }
}


@media  (min-width: 768px) {
    .menu-content {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
            "view-asset view-asset maintenance maintenance"
            "request request system system"
            "user user user user"
            "help settings settings exit";
        
        padding: 2em;
    }

    .menu {
    }
  
}


@media (min-width: 1028px){
    .menu-content {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
            "view-asset view-asset maintenance maintenance"
            "request request system system"
            "user user user user"
            "help settings settings exit";
   
        padding: 2em 6em;
    }

    .menu {
    }
}
