@page "/admin"
@attribute [Authorize (Roles = "Admin")]

<div class="main text-black">
    
    <div class="main-content">



        <div class="menu">

            <div class="menu-content text-center">


                <div class="view-asset"><a href="/admin/asset" class="item">Assets</a></div>
                <div class="maintenance"><a href="/admin/maintenance" class="item">Maintenance</a></div>
                <div class="request"><a href="/admin/Borrow_history" class="item">Borrow History</a></div>
                <!--<div class="system"><a href="/admin/system" class="item">System</a></div>-->
                <div class="user"><a href="/admin/user" class="item">Add User</a></div>
                <div class="help"><a href="/admin/help" class="item">Help</a></div>
                <div class="settings"><a href="/admin/settings" class="item">Settings</a></div>
                <div class="exit"><a href="/Logout">Logout</a></div>
            </div>
            
        </div>


    </div>

</div>


@code {

}
