@page "/AssetFull"



<div class=" main">


    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 text-center g-4">
            
            <div class="col">

                <table class="table table-hover">
                    <tr>
                        <th class="table-primary">ID</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-hover">

                    <tr>
                        <th class="table-secondary">Name</th>
                    </tr>

                    <tr>
                        <td>val</td>
                        
                    </tr>
                    

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-hover">
                    <tr>
                        <th class="table-success">Description</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-danger">Location_id</th>
                    </tr>

                    <tr>
                        <td>val</td>
                        
                    </tr>

                </table>

            </div>
            
            
            <div class="col">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Status</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Type ID</th>
                    </tr>

                    <tr>
                        <td>val</td>
                        
                    </tr>

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Manufacturer</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Model</th>
                    </tr>

                    <tr>
                        <td>val</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Serial Number</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Putchase date</th>
                    </tr>

                    <tr>
                        <td>val</td>
                        
                    </tr>

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Warranty Expiration</th>
                    </tr>
                    <tr>
                        <td>val</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Estimated Life</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Purchase Price</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Comments</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Item Count</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Created</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Created By</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Updated</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Last Updated</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Last Updated</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col">

                <table class="table table-bordered table-hover"s>

                    <tr>
                        <th class="table-dark">Photo URl</th>
                    </tr>

                    <tr>
                        <td>val20</td>
                        
                    </tr>

                </table>

            </div>
          

        </div>
    </div>

</div>