@page "/Asset"
@page "/Admin/Asset"
@inject IJSRuntime JsRuntime
@attribute [Authorize]
@using Microsoft.Data.SqlClient
@using System.Data

<h1 class="text-center">Asset</h1>

@*To Do:
    - create a table
    - create a caption
    - create a table head
    - add header cells
    - create a table body

*@



<div class="container-sm table-responsive">

    <div class="table-responsive ">
        <table class="table table-hover table-bordered ">

            <thead class="table-dark">

                <tr>
                    @for (int i =0; i < dt.Columns.Count;i++)
                    {
                        <th> @dt.Columns[i].ColumnName</th> 
                        
                    }
                   

                </tr>

            </thead>


            <tbody class="table-group-divider">
                      

                    
                            @foreach (DataRow dr in dt.Rows)
                            {
                                <tr>
                                @foreach (var item in dr.ItemArray)
                                {
                                    <td>
                                    @item   
                                    </td>
                                   
                                }
                                </tr>
                            }
                   
                
            </tbody>


        </table>

    </div>

</div>





@code {
    private ConnectionDB connection = new ConnectionDB();
    DataTable dt = new DataTable();
    List<string> columnName = new List<string>();
    protected override void OnInitialized()
    {

        connection.OpenConnection();
        dt = connection.ShowDataInGridView("select * from dbo.asset").Tables[0];



    }
    


}