@page "/Asset"
@inject ConnectionDB connect

<h1 class="text-center">Asset</h1>

@*To Do:
    - create a table
    - create a caption
    - create a table head
    - add header cells
    - create a table body

*@



<div class="container-sm">

    <div class="table-responsive ">
        <table class="table table-hover table-bordered ">

            <thead class="table-dark">

                <tr>

                    <th>Asset ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Manufacture</th>
                    <th>Model</th>
                    <th>Serial Number</th>
                    <th>Purchase date </th>
                    <th>Warranty Expiration</th>
                    <th>Estimated Life</th>
                    <th>Purchase Price</th>
                    <th>Comment</th>
                    <th>Item Count</th>
                    <th>Created</th>
                    <th>Created By</th>
                    <th>Entered By</th>
                    <th>Out Of Service</th>
                    <th>Photo Url</th>
                    <th>ID</th>
                    <th>Item Type</th>
                    <th>Path</th>
                    <th>Last Update</th>

                </tr>

            </thead>


            <tbody class="table-group-divider">

                <tr>

                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>

                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>


                </tr>
                <tr>

                     <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>

                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>
                    <td>value1</td>

                </tr>
            </tbody>


        </table>

    </div>

</div>





@code {
    
}