@page "/AssetAdd"


@inject NavigationManager NavigationManager
@using AssetManager.Model
@using FastMember

<div class=" main">
    <h1>Asset</h1>

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 text-center g-4">

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "id"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newName" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newDesc" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newLoc" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newStatus" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newType" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newManufacturer" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newModel" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Serial Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newSerial" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="date" style="width:100%" @bind="newPurchaseDate" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Warranty Expiration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="date" style="width:100%" @bind="newWarrantyExp" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Estimated Life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newEstimatedLife" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Purchase Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" step="0.01" style="width:100%" @bind="newPurchasePrice" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newComments" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Item Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newItemCount" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "created"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newCreatedBy" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Updated By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="number" style="width:100%" @bind="newUpdatedBy" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "last_updated"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Photo URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newPhotoUrl" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newPath" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Borrowable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" style="width:100%" checked="@accessor[asset, "borrow"]" @bind-value="newBorrow" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-primary" style="width:fit-content; margin-right:10px; margin-bottom:10px;" @onclick="() => assetAdd()">Save</button>
            <button type="button" class="btn" style="width:fit-content; margin-bottom:10px;" @onclick="() => cancelAdd()">Cancel</button>

        </div>

    </div>

</div>


@code {
    static Type type = typeof(Asset);
    TypeAccessor accessor = TypeAccessor.Create(type);
    Asset asset = new Asset();
    private string newName ;
    private string newDesc;
    private string newLoc;
    private string newStatus;
    private string newType;
    private string newManufacturer;
    private string newModel;
    private string newSerial;
    private DateTime? newPurchaseDate;
    private DateTime? newWarrantyExp;
    private string newEstimatedLife;
    private string newPurchasePrice;
    private string newComments;
    private string newItemCount;
    private string newCreatedBy;
    private string newUpdatedBy;
    private string newPhotoUrl;
    private string newPath;
    private bool newBorrow;

    protected override async Task OnInitializedAsync()
    {
        string query = "select id from dbo.asset where id=(Select max(id) from dbo.asset)";
        ConnectionDB connectionDB = new ConnectionDB();
        connectionDB.OpenConnection();
        asset.id = (int)connectionDB.ShowDataInGridView(query).Tables[0].Rows[0].ItemArray[0]+1;
        connectionDB.CloseConnection();
    }

    async void assetAdd()
    {
        asset.name = newName;
        asset.description = newDesc;
        asset.location_id = Int32.Parse(newLoc);
        asset.status_id = Int32.Parse(newStatus);
        asset.type_id = Int32.Parse(newType);
        asset.manufacturer = newManufacturer;
        asset.model = newModel;
        asset.serial_number = newSerial;
        asset.purchase_date = newPurchaseDate;
        asset.warranty_expiration = newWarrantyExp;
        asset.estimated_life = Int32.Parse(newEstimatedLife);
        asset.purchase_price = Convert.ToDouble(newPurchasePrice);
        asset.comments = newComments;
        asset.item_count = Int32.Parse(newItemCount);
        asset.created_by = Int32.Parse(newCreatedBy);
        asset.updated_by = Int32.Parse(newUpdatedBy);
        asset.created = DateTime.Now;
        asset.last_updated = DateTime.Now;
        asset.photo_url = newPhotoUrl;
        asset.path = newPath;
        asset.borrow = newBorrow;

        AssetService.AddAsset(asset);

        NavigationManager.NavigateTo("/Admin/Asset");
    }

    void cancelAdd()
    {
        NavigationManager.NavigateTo("/Admin/Asset");
    }
}
