@page "/AssetFull"

@using AssetManager.Model

<div class=" main">
    <h1>Asset @asset.id</h1>

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 text-center g-4">
            
            <div class="col">

                <table class="table table-hover">
                    <tr>
                        <th class="table-dark">ID</th>
                    </tr>
                    <tr>
                        <td>1</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-hover">

                    <tr>
                        <th class="table-dark">Name</th>
                    </tr>

                    <tr>
                        <td>Oreck XL commercial vacuum</td>
                        
                    </tr>
                    

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-hover">
                    <tr>
                        <th class="table-dark">Description</th>
                    </tr>
                    <tr>
                        <td>Red & gray Oreck XL vacuum</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Location</th>
                    </tr>

                    <tr>
                        <td>furnace A</td>
                        
                    </tr>

                </table>

            </div>
            
            
            <div class="col">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Status</th>
                    </tr>
                    <tr>
                        <td>inactive</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Type</th>
                    </tr>

                    <tr>
                        <td>janitorial</td>
                        
                    </tr>

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Manufacturer</th>
                    </tr>
                    <tr>
                        <td>Oreck</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Model</th>
                    </tr>

                    <tr>
                        <td>XL9300</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Serial Number</th>
                    </tr>
                    <tr>
                        <td>Na</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Purchase Date</th>
                    </tr>

                    <tr>
                        <td>2022-01-01</td>
                        
                    </tr>

                </table>

            </div> <div class="col table-striped ">

                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="table-dark">Warranty Expiration</th>
                    </tr>
                    <tr>
                        <td>2023-12-31</td>
                    </tr>
                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Estimated Life</th>
                    </tr>

                    <tr>
                        <td>10</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Purchase Price</th>
                    </tr>

                    <tr>
                        <td>49.99</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Comments</th>
                    </tr>

                    <tr>
                        <td>Disposed of on 4/11/22</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Item Count</th>
                    </tr>

                    <tr>
                        <td>0</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Created</th>
                    </tr>

                    <tr>
                        <td>2022-02-07 10:03:00.000</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Created By</th>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Updated By</th>
                    </tr>

                    <tr>
                        <td>John Doe</td>
                        
                    </tr>

                </table>

            </div>
            
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Last Updated</th>
                    </tr>

                    <tr>
                        <td>2022-02-07 10:03:00.000</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Photo URL</th>
                    </tr>

                    <tr>
                        <td>n/a</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Path</th>
                    </tr>

                    <tr>
                        <td>n/a</td>
                        
                    </tr>

                </table>

            </div>
            <div class="col">

                <table class="table table-bordered table-hover">

                    <tr>
                        <th class="table-dark">Borrow</th>
                    </tr>

                    <tr>
                        <td>True</td>
                        
                    </tr>

                </table>

            </div>
        </div>
    </div>

</div>

@code {
    private Asset asset;

    protected override async Task OnInitializedAsync() {
        asset = await AssetService.GetAssetById(1);
    }
}
