@page "/Asset"
@page "/Admin/Asset"

@inject IJSRuntime JsRuntime
@attribute [Authorize]
@using Microsoft.Data.SqlClient
@using System.Data
@inject NavigationManager NavigationManager
@inject Model.Asset Asset

<div class="main container-sm">
   <h1 class="text-center"> Assets</h1>
    <div class="input-group mb-3 align justify-content-end">
        <input type="text" placeholder="Search" @bind-value="search"/>
        <button type="submit" class="btn btn-primary "@onclick="searchFilter">Search</button>
    </div>
</div>


@*To Do:
    - create a table
    - create a caption[]
    - create a table head
    - add header cells
    - create a table body

*@

    
<div class="container-sm table-responsive">
    
     
    <div class="table-responsive ">
        <table class="table table-hover table-bordered ">

            <thead class="table-dark">

                <tr>
                    @for (int i =0; i < dt.Columns.Count;i++)
                    {
                        <th> @dt.Columns[i].ColumnName</th> 
                        
                    }
                   
                    <th>details</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>

            </thead>


            <tbody class="table-group-divider">

                @foreach (DataRow dr in dt.Rows)
                {
                    <tr>
                        @foreach (var item in dr.ItemArray)
                        {
                            <td>
                                @item   
                            </td>
                                   
                        }
                        <td><button type="button" @onclick="() => fullAsset(dr.ItemArray[0])"><span class="oi oi-list"></span></button></td>
                        <td><button type="button" @onclick="() => editAsset(dr.ItemArray[0])"><span class="oi oi-pencil"></span></button></td>
                        <td><button type="button" @onclick="() => deleteAsset(dr.ItemArray[0])"><span class="oi oi-trash"></span></button></td>
                    </tr>
                }

            </tbody>


        </table>
        
    </div>

</div>





@code {
    private ConnectionDB connection = new ConnectionDB();
    DataTable dt = new DataTable();
    string search = "";
    string query = "select id,name,description,manufacturer,model from dbo.asset";
    protected override void OnInitialized()
    {
        connection.OpenConnection();
        dt = connection.ShowDataInGridView(query).Tables[0];


    }

    void fullAsset(object id){
        this.Asset.id = Int32.Parse(id.ToString());
        NavigationManager.NavigateTo("/AssetFull");
    }

    void editAsset(object id){
        this.Asset.id = Int32.Parse(id.ToString());
        NavigationManager.NavigateTo("/AssetEdit");
    }

    void deleteAsset(object id){
        this.Asset.id = Int32.Parse(id.ToString());
    }

    void searchFilter()
    {
        query = "select id,name,description,manufacturer,model from dbo.asset where name like '" + search + "%'" 
        + "or id like '" + search + "%'"
        + "or description like '" + search + "%'" 
        + "or model like '" + search + "%'" 
        + "or manufacturer like '" + search + "%'";
        OnInitialized();
    }
}