@page "/Borrow_history"
@page "/Admin/Borrow_history"

@attribute [Authorize]
@using Microsoft.Data.SqlClient
@using System.Data
@inject NavigationManager NavigationManager
@inject Model.Asset Asset
@*
    To Do:
        - create a table
        - display id, user_id, asset_id, date_borrowed, date_returned
*@

<div class="container-sm table-responsive">


    <div class="table-responsive ">
        <table class="table table-hover table-bordered ">

            <thead class="table-dark">

                <tr>
                    @for (int i = 0; i < dt.Columns.Count; i++)
                    {
                        <th> @Char.ToUpper(dt.Columns[i].ColumnName[0])@dt.Columns[i].ColumnName.Substring(1) </th>

                    }


                </tr>

            </thead>


            <tbody class="table-group-divider">

                @foreach (DataRow dr in dt.Rows)
                {
                    <tr>
                        @foreach (var item in dr.ItemArray)
                        {
                            <td>
                                @item
                            </td>

                        }
                        
                    </tr>
                }

            </tbody>


        </table>

    </div>

</div>

@code{
    private ConnectionDB connection = new ConnectionDB();
                    DataTable dt = new DataTable();
                    string search = "";
                    string query = "select * from dbo.borrow_history";
                    protected override void OnInitialized()
                    {
                        connection.OpenConnection();
                        dt = connection.ShowDataInGridView(query).Tables[0];


                    }
}