@page "/Borrow_history"



@*
    To Do:
        - create a table
        - display id, user_id, asset_id, date_borrowed, date_returned
*@

<div class="main">

    <div class="container">

        <div class="table-responsive">

            <table class="table table-hover table-bordered">

                <thead class="table-dark">

                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Asset ID</th>
                        <th>Date Borrowed</th>
                        <th>Date Returned</th>
                    </tr>

                </thead>

                <tbody>
                    
                    <tr>
                        <td>1</td>
                        <td>20</td>
                        <td>288</td>
                        <td>12/20/2022</td>
                        <td>01/20/2023</td>
                    </tr>  
                    <tr>
                        <td>1</td>
                        <td>20</td>
                        <td>288</td>
                        <td>12/20/2022</td>
                        <td>01/20/2023</td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>