@page "/login" 
@using AssetManager.Classes
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject CustomAuthenticationProvider AuthStateProvider

@*
TO-DO
    -format and logo
*@

<EditForm Model="@userModel" OnValidSubmit="@SuccessfulLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
 
    <div class="form-group">
        <label>Username</label>
        <InputText id="email" @bind-Value="userModel.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText id="password" type="password" @bind-Value="userModel.Password" class="form-control" />
    </div>
    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
</EditForm>


@code {
    public UserModel userModel = new UserModel();

    public async Task SuccessfulLogin() {
        var success = userModel.LoginValidate(out string token);

        if (!success)
            Console.WriteLine("Request failed.");


        await AuthStateProvider.Login(token);
        NavigationManager.NavigateTo("/Admin");
        Connect();
    }

    public async void logout(){
        await AuthStateProvider.Logout();
        NavigationManager.NavigateTo("/");
    }
    
    private void Connect()
        {
            ConnectionDB connectionDB = new ConnectionDB();
            connectionDB.OpenConnection();
        }
}

